
body{
  background: rgba(0, 0, 0, 0);
}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.section2{
  min-height: 100vh;
  display: flex;
  justify-content: left;
  align-items: left;
}

section:nth-child(1){
  color: #42455a;
  }
section:nth-child(2){
  color: #42455a;
  background: rgba(0, 0, 0, 0);
} 
section:nth-child(3){
  color: #e0ffff;
}
section:nth-child(4){
  color: #42455a;
  background: rgba(0, 0, 0, 0);
}
section .container{
  margin: 100px;
}
section .container2{
  text-align: center;
  margin: 100px;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  color: #251530;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}

section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: rgba(0, 0, 0, 0);
}

section .text-container .text-box2{
  text-align: left;
  margin: 20px;
  padding: 20px;
  background: rgba(0, 0, 0, 0);
}

section .text-container .profile-box{
  float: right;
  margin: 20px;
  padding: 20px;
  background: #ffffff;
}

section .text-container .text-box-contact-card{
  width: 100%;
  margin: 20px;
  padding: 20px;
  background: rgba(0, 0, 0, 0);
}

section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 970px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
  
  section .container{
  margin: 0px;
}
}

.reveal{
    transition: 2s all ease;
    opacity: 0;
}

.reveal.active{
  opacity: 1;
}



